* {
  margin: 0;
  padding: 0;
}

body {
  background: white;
  color: white;
  font-family: "Lato", sans-serif;
  display: flex;
  justify-content: center;
}

.container {
  background: #000048;
  margin-top: 100px;
  max-width: 300px;
  padding: 50px;
  border-radius: 10px;
}

h2 {
  font-size: 18px;
  padding-bottom: 10px;
}

h1 {
  font-size: 22px;
}

span {
  font-size: 16px;
  font-style: italic;
}

p {
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 400;
}

li {
  list-style-type: disc;
  margin-left: 20px;
}

.btn {
  margin-top: 20px;
  background-color: white;
  color: #000048;
  border-radius: 10px;
  padding: 10px 0;
}

.btn:hover {
  background-color: red;
}

a:link {
  text-decoration: none;
  padding-left: 30px;
}

a:hover {
  color: white;
}
